{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Segmentação{% endblock %}

{% block main %}
    <h5 class="card-title">Segmentação de carteira</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Importe aqui sua planilha:</p>
        {{ form.arquivo_csv }}
        <p>Delimite sua planilha</p>
        <p><label>Linha inicial</label> {{ form.linha_inicio }}</p>
        <p><label>Linha final</label> {{ form.linha_final }}</p>
        <p><label>Coluna inicial</label> {{ form.coluna_inicio }}</p>
        <p><label>Coluna final</label> {{ form.coluna_final }}</p>
        <button type="submit">Importar CSV</button>
    </form>

{% endblock %}